<section>
  <div class="container">
    <table class="table w-50">
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let role of allRoles">
          <td>{{role.title}}</td>
          <!-- <td><a class='btn btn-warning' (click)="EditRole(role.id)">Edit</a></td> -->
          <td><a class='btn btn-warning' [routerLink]="'/control/roles/addRole/' + role.id">Edit</a></td>
          <td><a class='btn btn-primary' [routerLink]="'/control/EditRole/' + role.id">Edited</a></td>

        </tr>
      </tbody>
    </table>

  </div>
</section>
